.sidebar {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

    button {
        padding:0px;
        text-align: center;
        background-color: black;
        border-style: none;
        border-radius: 10px;
        color: $yellow;
        width : 17%;
        height: 40px;
        font-size: $font_size_default;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        
    }

    button:hover{
        font-weight: bold;
        background-color: $yellow;
        color:black;
        font-size: calc($font_size_default + 3px);
        margin-bottom: 16px;       
    }
}
